<!DOCTYPE html>
<html lang="en">
<h1>Create short URL</h1>

<h4>URL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Original URL:
                <br>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</html>