<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
body {
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 100px;
}
</style>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="{% url 'shortUrls:index' %}" method="post">
        {% csrf_token %}
    <label><h2>Input url:</h2></label><br>
            <input type="text" name="urlName" />
        <input type="submit" value="Generate">
</form>
{% if url != None%}
    <br>
    <br>
    <label><a href="{% url 'shortUrls:count' url.id %}">{{ url.short_url }}</a></label>
{% endif %}
{% if url == ""%}
    <br>
    <br>
    <label>Sorry, error in converting a short link</label>
{% endif %}
<br>
<br>
<a href="{% url 'shortUrls:links' %}">All links</a>
</body>
</html>